# install steps
# - `git submodule init`
# - `git submodule update --recursive`
# if that does not work, then add manually via `git submodule add https://github.com/KrijnvanderBurg/.devcontainer.git .devcontainer`

[submodule ".devcontainer"]
	path = .devcontainer
	url = https://github.com/KrijnvanderBurg/.devcontainer.git
    branch = main

[submodule ".azuredevops"]
	path = .azuredevops
	url = https://github.com/KrijnvanderBurg/.azuredevops.git
	branch = main

[submodule ".github/.dotfiles"]
	path = .github/.dotfiles
	url = https://github.com/KrijnvanderBurg/.dotfiles.git
	branch = main
